[build]
  base = "dashboard"
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "../netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@netlify/blobs"]

# placeholders for later
# [build.environment]
#   NODE_VERSION = "20"

